<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paises</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <!-- Bootstrap 5-->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Fontello -->
    <link rel="stylesheet" href="/css/fontello.css">

    <!-- Custom CSS-->
    <link rel="stylesheet" href="/css/custom-style.css">

</head>

<body>
    <div class="container m-5">
        <h1 style="color:red">ERROR!</h1>
        <p>Ha ocurrido un error, intente nuevamente</p>
    </div>

    <!-- Bootstrap 5 -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom Script -->
    <script type="text/javascript" src="/js/custom-scripts.js"></script>
</body>

</html>