<!doctype html>
<html lang="en">

<head>
    <title>Register</title>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=7">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom-style.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fontello.css" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div id="login-form" class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Registrar usuario</h4>
                <form action="/users/add" method="post">
                    <div class="mb-3">
                        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Apellido">
                    </div>
                    <div class="mb-3">
                        <input type="number" name="cedula" id="cedula" class="form-control" placeholder="Cedula">
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Correo">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Nombre de usuario">
                    </div>
                    <div class="mb-3">
                        <input type="password" name="clave" id="clave" class="form-control" placeholder="Clave de usuario">
                    </div>
                    <div class="mb-3 text-center">
                        <input class="btn btn-primary" type="submit" value="Guardar">
                    </div>
                    <div class="mb-3 text-center">
                        <a href="/"> <i class="icon-login"></i> Iniciar Sesión</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/js/custom-script.js" crossorigin="anonymous"></script>
</body>

</html>