<!DOCTYPE html>
<html lang="es">

<head>
    {%HEAD%}
</head>

<body>
    <div class="container">
        <h1><i class="icon-rocket"></i> NODE.JS</h1>
        <h3>ORM Sequelizey | <i class="icon-user"></i> API Client</h3>
        <hr>
        <h2>Consultar API</h2>
        <small><b>URL DE PRUEBA:</b> http://localhost/usuarios</small>
        <br>
        <input id="url" type="text" placeholder="URL de consulta">
        <button id="consultar-btn" class="btn">FETCH</button>
    </div>
    <div class="container">
        <h2>Respuesta:</h2>
        <div id="respuesta">
            <!-- RESPUESTA DEL SERVIDOR -->
        </div>
    </div>
    <footer>
        {%FOOTER%}
    </footer>
</body>

</html>